:root {
    --bg-color: #F5F7FB;
    --bg-color-inverse: hsl(220deg 26% 14%); 
    --color: #293264;
    /* same color b/c dark mode do not remove */
    --focused-btn-color: #293264;
    --accent-color: #4D5B9E;
    --btn-hover-color: var(--color);
    --btn-hover-bg-color: #D6DBF5;
    --isHeld-bg-color: #D6DBF5;

    --blob-mix-blend-mode: normal;

    --question-border-bottom: hsl(231 41% 90%);
    --icon-hover-color: var(--accent-color);

}


* {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    margin: 34px 0 46px;
    color: var(--color);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Karla';
}

p {
    font-family: 'Inter'
}

html, body {
    height: 100%;
}
body {
    background-color: var(--bg-color);   
}



.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
    min-height: 100%;
    z-index: 1;
    background-color: var(--bg-color);
}

.quiz__btn {
    background-color: #4D5B9E;
}

.quiz__btn {
    padding: 1em 1.5em;   
}


.quiz__answers {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quiz__loadingBox {
    display: grid;
    height: 100vh;
    place-content: center;
    font-family: 'Inter', Helvetica, Futura, san-serif;
    color: var(--color);
    font-size: 2rem;
}

.quiz__loadingText {
    animation: bounce 1.8s ease-in-out infinite alternate;
    animation-delay: 500ms;
}

.quiz__footer {
    width: 70%;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.quiz__finalText {
    font-size: 1.2rem;
    color: var(--color);
    font-family: Inter;
    font-weight: 700;
    margin-right: 2rem;
}


.question__btn:focus,
.question__btn:hover {
    color: var(--btn-hover-color);
    background-color: hsla(230, 34%, 46%, 0.90);
    border: none;
    background-color: var(--btn-hover-bg-color);
    /* calc on padding is so there is no layout shift on hover as sizes change */
    padding: calc(.25em + 1px) calc(.75em + 1px);
    outline: none;
}

.question__component {
    width: min(90%, 600px);
    border-bottom: 1px solid var(--question-border-bottom);
    padding: 16px;
    z-index: 1;
}

.question__question {
    font-family: Karla;
    color: var(--color);
    padding-bottom: 1rem;
    font-size: 1.1rem;
}

.question__btnCtr {
    display: flex;
    flex-wrap: wrap;
}


.question__btn {
    background-color: var(--bg-color);
    color: var(--color);
    border: 1px solid var(--color);
    border-radius: 10px;
    /* the padding connection from comment below */
    padding: .25em .75em;
    margin-bottom: .75em;
    margin-right: 1em;
    font-family: Inter;
    font-weight: 500px;
    position: relative;
}

.question__btn:focus,
.question__btn:hover {
    color: var(--btn-hover-color);
    background-color: hsla(230, 34%, 46%, 0.90);
    border: none;
    background-color: var(--btn-hover-bg-color);
    /* calc on padding is so there is no layout shift on hover as sizes change */
    padding: calc(.25em + 1px) calc(.75em + 1px);
    outline: none;
}


.check-button {
    border: none;
    background-color: #4D5B9E;
    color: white;
    margin: 30px auto ;
    width: 150px;
    height: 40px;
    border-radius: 15px;
} 


.check-button:focus {
    outline: none;
}
.check-button:active{
    box-shadow: inset 3px 3px 5px -3px rgba(0, 0, 0, 0.7);
}

.quiz-button:focus {
    outline: none;
}
.quiz-button:active{
    box-shadow: inset 3px 3px 5px -3px rgba(0, 0, 0, 0.7);
}
